include ../values/values.pug
include ../hints/hints.pug
include ../grid/grid.pug
include ../slider-data/slider-data.pug
include ../different/different.pug
include ../code/code.pug



mixin panel(options)
  -
    const modif = options.modif ?? ''
    const addClass = options.class ?? ''
    const theme = options.theme ?? 'base'
    let classComp = 'panel'
    let className = classComp
    if(modif){
    className += ' '+classComp+'_'+modif}
    if(addClass){
    className += ' '+addClass}
  div(class=className)
    div(class=classComp+'__slider-wrap')
      input(class='rslider__'+theme type='hidden' name='DATA' value='' tabindex='-2')
    div(class=classComp+'__values-wrap') 
      +values({
        label: 'Values',
      })
    div(class=classComp+'__slider-data-wrap') 
      +slider-data({
        label: 'Slider data',
      })
    div(class=classComp+'__grid-wrap') 
      +grid({
        label: 'Grid',
      })
    div(class=classComp+'__different-wrap') 
      +different({
        label: 'Different',
      })
    div(class=classComp+'__hints-wrap')
      +hints({
        label: 'Hints',
      })
    div(class=classComp+'__code-wrap')
      +code({
        label: 'Config code',
      })