include ../values/values.pug
include ../hints/hints.pug
include ../grid/grid.pug
include ../input-data/input-data.pug
include ../miscellaneous/miscellaneous.pug
include ../code/code.pug
include ../keyboard-control/keyboard-control.pug

mixin panel(options = {})
  -
    const {
      modifier = '',
      addClass = '',
      theme = 'base',
    } = options;

    const CLASS_COMPONENT = 'panel'
    let className = CLASS_COMPONENT
    
    if(modifier){
      className += ` ${CLASS_COMPONENT}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  div(class=`${className} js-${CLASS_COMPONENT}`)
    div(class=`${CLASS_COMPONENT}__slider-wrapper js-${CLASS_COMPONENT}__slider-wrapper`)
      input(class=`rslider__${theme} visually-hidden` 
      type='text' 
      name='DATA' 
      value='' 
      tabindex='-2' 
      readonly=''
      )

    div(class=`${CLASS_COMPONENT}__values-wrapper`)
      +values({label: 'Values',})

    div(class=`${CLASS_COMPONENT}__input-data-wrapper`)
      +input-data({label: 'Input data',})

    div(class=`${CLASS_COMPONENT}__keyboard-control-wrapper`)
      +keyboard-control({label: 'keyboard control',})

    div(class=`${CLASS_COMPONENT}__grid-wrapper`)
      +grid({label: 'Grid',})

    div(class=`${CLASS_COMPONENT}__different-wrapper`)
      +miscellaneous({label: 'Miscellaneous',})

    div(class=`${CLASS_COMPONENT}__hints-wrapper`)
      +hints({label: 'Hints',})
      
    div(class=`${CLASS_COMPONENT}__code-wrapper`)
      +code({label: 'Config code',})