include ../values/values.pug
include ../hints/hints.pug
include ../grid/grid.pug
include ../input-data/input-data.pug
include ../miscellaneous/miscellaneous.pug
include ../code/code.pug
include ../keyboard-control/keyboard-control.pug

mixin panel(options = {})
  -
    const {
      addClass = '',
      theme = 'base',
    } = options;

    const BASE_CLASS = 'panel'
    let className = BASE_CLASS

  if addClass
    - className += ` ${addClass}`
  

  div(class=`${className} js-${BASE_CLASS}`)
    div(class=`${BASE_CLASS}__slider-wrapper js-${BASE_CLASS}__slider-wrapper`)
      input(class=`rslider__${theme} visually-hidden` 
      type='text' 
      name='DATA' 
      value='' 
      tabindex='-2' 
      readonly=''
      )

    div(class=`${BASE_CLASS}__values-wrapper`)
      +values({label: 'Values',})

    div(class=`${BASE_CLASS}__input-data-wrapper`)
      +input-data({label: 'Input data',})

    div(class=`${BASE_CLASS}__keyboard-control-wrapper`)
      +keyboard-control({label: 'keyboard control',})

    div(class=`${BASE_CLASS}__grid-wrapper`)
      +grid({label: 'Grid',})

    div(class=`${BASE_CLASS}__different-wrapper`)
      +miscellaneous({label: 'Miscellaneous',})

    div(class=`${BASE_CLASS}__hints-wrapper`)
      +hints({label: 'Hints',})
      
    div(class=`${BASE_CLASS}__code-wrapper`)
      +code({label: 'Config code',})