include ../values/values.pug
include ../hints/hints.pug
include ../grid/grid.pug
include ../input-data/input-data.pug
include ../miscellaneous/miscellaneous.pug
include ../code/code.pug
include ../keyboard-control/keyboard-control.pug

mixin panel(theme = 'base')
  -
    const BASE_CLASS = 'panel'

  div(class=`${BASE_CLASS} js-${BASE_CLASS}`)
    div(class=`${BASE_CLASS}__slider-wrapper js-${BASE_CLASS}__slider-wrapper`)
      input(class=`rslider__${theme} visually-hidden` 
      type='text' 
      name='DATA' 
      value='0'
      tabindex='-2' 
      readonly=''
      )

    div(class=`${BASE_CLASS}__values-wrapper`)
      +values('Values')

    div(class=`${BASE_CLASS}__input-data-wrapper`)
      +input-data('Input data')

    div(class=`${BASE_CLASS}__keyboard-control-wrapper`)
      +keyboard-control('keyboard control')

    div(class=`${BASE_CLASS}__grid-wrapper`)
      +grid('Grid')

    div(class=`${BASE_CLASS}__different-wrapper`)
      +miscellaneous('Miscellaneous')

    div(class=`${BASE_CLASS}__hints-wrapper`)
      +hints('Hints')
      
    div(class=`${BASE_CLASS}__code-wrapper`)
      +code('Config code')