include ../values/values.pug
include ../hints/hints.pug
include ../grid/grid.pug
include ../input-data/input-data.pug
include ../different/different.pug
include ../code/code.pug
include ../keyboard-control/keyboard-control.pug

mixin panel(options)
  -
    const modifier = options.modifier ?? ''
    const addClass = options.class ?? ''
    const theme = options.theme ?? 'base'
    const classComponent = 'panel'
    let className = classComponent
    
    if(modifier){
    className += ` ${classComponent}_${modifier}`}
    if(addClass){
    className += ` ${addClass}`}

  div(class=`${className} js-${classComponent}`)
    div(class=`${classComponent}__slider-wrap js-${classComponent}__slider-wrap`)
      input(class=`rslider__${theme} visually-hidden` 
      type='text' 
      name='DATA' 
      value='' 
      tabindex='-2' 
      readonly=''
      )

    div(class=`${classComponent}__values-wrap`)
      +values({label: 'Values',})

    div(class=`${classComponent}__input-data-wrap`)
      +input-data({label: 'Input data',})

    div(class=`${classComponent}__keyboard-control-wrap`)
      +keyboard-control({label: 'keyboard control',})

    div(class=`${classComponent}__grid-wrap`)
      +grid({label: 'Grid',})

    div(class=`${classComponent}__different-wrap`)
      +different({label: 'Different',})

    div(class=`${classComponent}__hints-wrap`)
      +hints({label: 'Hints',})
      
    div(class=`${classComponent}__code-wrap`)
      +code({label: 'Config code',})