include ../toggle-buttons/toggle-buttons.pug
include ../text-field/text-field.pug

mixin grid(options)
  -
    let label = options.label ?? ''
    let modify = options.modify ?? ''
    let addClass = options.class ?? ''
    let flLabel = options.flLabel ?? false
    let classComp = 'grid'
    let className = classComp
    if(modify){
    className += ' '+classComp+'_'+modify}
    if(addClass){
    className += ' '+addClass}
  fieldset(class=className+' js-'+classComp)
    - if(!flLabel){
    legend(class=classComp+'__label')= label
    -}
    div(class=classComp+'__grid-wrap'+' js-'+classComp+'__grid-wrap')
      +toggle-buttons({
        header: 'Grid',
      })
    div(class=classComp+'__snap-wrap'+' js-'+classComp+'__snap-wrap')
      +toggle-buttons({
        header: 'Snap',
      })
    div(class=classComp+'__interval-wrap'+' js-'+classComp+'__interval-wrap')
      +text-field({
        label: 'Interval',
        type: 'text',
        name: 'gridNum'
      })
    div(class=classComp+'__step-wrap'+' js-'+classComp+'__step-wrap')
      +text-field({
        label: 'Step',
        type: 'text',
        name: 'gridStep'
      })
    div(class=classComp+'__round-wrap'+' js-'+classComp+'__round-wrap')
      +text-field({
        label: 'round up to',
        type: 'text',
        name: 'gridRound'
      })