include ../toggle/toggle.pug
include ../text-field/text-field.pug

mixin grid(options = {})
  -
    const {
      label = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const classComponent = 'grid'
    let className = classComponent
    
    if(modifier){
      className += ` ${classComponent}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

    const data = require('./grid.json'); 
    const textField = data.textField

  fieldset(class=`${className} js-${classComponent}`)
    - if(!isLabeled){
        legend(class=`${classComponent}__label`)= label
    -}

    div(class=`${classComponent}__grid-wrapper js-${classComponent}__grid-wrapper`)
      +toggle({
        header: 'Grid',
      })

    div(class=`${classComponent}__snap-wrapper js-${classComponent}__snap-wrapper`)
      +toggle({
        header: 'Snap',
      })

    div(class=`${classComponent}__interval-wrapper js-${classComponent}__interval-wrapper`)
      +text-field(textField.interval)

    div(class=`${classComponent}__step-wrapper js-${classComponent}__step-wrapper`)
      +text-field(textField.step)
      
    div(class=`${classComponent}__round-wrapper js-${classComponent}__round-wrapper`)
      +text-field(textField.round)