include ../toggle/toggle.pug
include ../text-field/text-field.pug

mixin grid(options = {})
  -
    const {
      label = ''
    } = options;
    const BASE_CLASS = 'grid'
    const data = require('./grid.json'); 
    const textField = data.textField

  fieldset(class=`${BASE_CLASS} js-${BASE_CLASS}`)
    if label
      legend(class=`${BASE_CLASS}__label`)= label

    div(class=`${BASE_CLASS}__grid-wrapper js-${BASE_CLASS}__grid-wrapper`)
      +toggle({
        header: 'Grid',
      })

    div(class=`${BASE_CLASS}__snap-wrapper js-${BASE_CLASS}__snap-wrapper`)
      +toggle({
        header: 'Snap',
      })

    div(class=`${BASE_CLASS}__interval-wrapper js-${BASE_CLASS}__interval-wrapper`)
      +text-field(textField.interval)

    div(class=`${BASE_CLASS}__step-wrapper js-${BASE_CLASS}__step-wrapper`)
      +text-field(textField.step)
      
    div(class=`${BASE_CLASS}__round-wrapper js-${BASE_CLASS}__round-wrapper`)
      +text-field(textField.round)