include ../toggle-buttons/toggle-buttons.pug
include ../text-field/text-field.pug

mixin grid(options = {})
  -
    const {
      label = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const classComponent = 'grid'
    let className = classComponent
    
    if(modifier){
    className += ` ${classComponent}_${modifier}`}
    if(addClass){
    className += ` ${addClass}`}

    const data = require('./grid.json'); 
    const textField = data.textField

  fieldset(class=`${className} js-${classComponent}`)
    - if(!isLabeled){
    legend(class=`${classComponent}__label`)= label
    -}

    div(class=`${classComponent}__grid-wrap js-${classComponent}__grid-wrap`)
      +toggle-buttons({
        header: 'Grid',
      })

    div(class=`${classComponent}__snap-wrap js-${classComponent}__snap-wrap`)
      +toggle-buttons({
        header: 'Snap',
      })

    div(class=`${classComponent}__interval-wrap js-${classComponent}__interval-wrap`)
      +text-field(textField.interval)

    div(class=`${classComponent}__step-wrap js-${classComponent}__step-wrap`)
      +text-field(textField.step)
      
    div(class=`${classComponent}__round-wrap js-${classComponent}__round-wrap`)
      +text-field(textField.round)