include ../toggle/toggle.pug
include ../text-field/text-field.pug

mixin grid(options = {})
  -
    const {
      label = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const CLASS_COMPONENT = 'grid'
    let className = CLASS_COMPONENT
    
    if(modifier){
      className += ` ${CLASS_COMPONENT}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

    const data = require('./grid.json'); 
    const textField = data.textField

  fieldset(class=`${className} js-${CLASS_COMPONENT}`)
    - if(!isLabeled){
        legend(class=`${CLASS_COMPONENT}__label`)= label
    -}

    div(class=`${CLASS_COMPONENT}__grid-wrapper js-${CLASS_COMPONENT}__grid-wrapper`)
      +toggle({
        header: 'Grid',
      })

    div(class=`${CLASS_COMPONENT}__snap-wrapper js-${CLASS_COMPONENT}__snap-wrapper`)
      +toggle({
        header: 'Snap',
      })

    div(class=`${CLASS_COMPONENT}__interval-wrapper js-${CLASS_COMPONENT}__interval-wrapper`)
      +text-field(textField.interval)

    div(class=`${CLASS_COMPONENT}__step-wrapper js-${CLASS_COMPONENT}__step-wrapper`)
      +text-field(textField.step)
      
    div(class=`${CLASS_COMPONENT}__round-wrapper js-${CLASS_COMPONENT}__round-wrapper`)
      +text-field(textField.round)