
mixin code(options = {})
  -
    const {
      label = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const classComponent = 'code';
    let className = classComponent;
    const codeTop = '$(\'.demo\').RangeSliderFox({';
    const codeBottom = '})';

    if(modifier){
      className += ` ${classComponent}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  fieldset(class=`${className} js-${classComponent}`)
    - if(!isLabeled){
        legend(class=`${classComponent}__label`)= label
    -}
    
    div(class=`${classComponent}__config`)
      p(class=`${classComponent}__lang-js`)=codeTop
      ul(class=`${classComponent}__options js-${classComponent}__options`)
      p(class=`${classComponent}__lang-js`)=codeBottom
    button(class=`${classComponent}__copy js-${classComponent}__copy`) Copy code