
mixin code(options)
  -
    let label = options.label ?? ''
    let modif = options.modif ?? ''
    let addClass = options.class ?? ''
    let flLabel = options.flLabel ?? false
    let classComp = 'code'
    let className = classComp
    let codeTop = '$(\'.demo\').RangeSliderFox({';
    let codeBottom = '})';
    if(modif){
    className += ' '+classComp+'_'+modif}
    if(addClass){
    className += ' '+addClass}
  fieldset(class=className)
    - if(!flLabel){
    legend(class=classComp+'__label')= label
    -}
    div(class=classComp+'__config')
      p(class=classComp+'__lang-js')=codeTop
      ul(class=classComp+'__options')
        -for(let i=0; i<21; i++)
          li(class=classComp+'__item')
      p(class=classComp+'__lang-js')=codeBottom
    button(class=classComp+'__copy') Copy code