
mixin code(options = {})
  -
    const {
      label = '',
      addClass = '',
      isLabeled = false,
    } = options;

    const BASE_CLASS = 'code';
    let className = BASE_CLASS;
    const CODE_TOP = '$(\'.demo\').RangeSliderFox({';
    const CODE_BOTTOM = '})';

  if addClass
    - className += ` ${addClass}`
  

  fieldset(class=`${className} js-${BASE_CLASS}`)
    if !isLabeled
      legend(class=`${BASE_CLASS}__label`)= label
    
    
    div(class=`${BASE_CLASS}__config`)
      p(class=`${BASE_CLASS}__lang-js`)=CODE_TOP
      ul(class=`${BASE_CLASS}__options js-${BASE_CLASS}__options`)
      p(class=`${BASE_CLASS}__lang-js`)=CODE_BOTTOM
    button(class=`${BASE_CLASS}__copy js-${BASE_CLASS}__copy`) Copy code