
mixin code(options = {})
  -
    const {
      label = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const CLASS_COMPONENT = 'code';
    let className = CLASS_COMPONENT;
    const CODE_TOP = '$(\'.demo\').RangeSliderFox({';
    const CODE_BOTTOM = '})';

    if(modifier){
      className += ` ${CLASS_COMPONENT}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  fieldset(class=`${className} js-${CLASS_COMPONENT}`)
    - if(!isLabeled){
        legend(class=`${CLASS_COMPONENT}__label`)= label
    -}
    
    div(class=`${CLASS_COMPONENT}__config`)
      p(class=`${CLASS_COMPONENT}__lang-js`)=CODE_TOP
      ul(class=`${CLASS_COMPONENT}__options js-${CLASS_COMPONENT}__options`)
      p(class=`${CLASS_COMPONENT}__lang-js`)=CODE_BOTTOM
    button(class=`${CLASS_COMPONENT}__copy js-${CLASS_COMPONENT}__copy`) Copy code