
mixin code(label = '')
  -
    const BASE_CLASS = 'code';
    const CODE_TOP = '$(\'.demo\').RangeSliderFox({';
    const CODE_BOTTOM = '})';

  fieldset(class=`${BASE_CLASS} js-${BASE_CLASS}`)
    if label
      legend(class=`${BASE_CLASS}__label`)= label
    
    div(class=`${BASE_CLASS}__config`)
      p(class=`${BASE_CLASS}__lang-js`)=CODE_TOP
      ul(class=`${BASE_CLASS}__options js-${BASE_CLASS}__options`)
      p(class=`${BASE_CLASS}__lang-js`)=CODE_BOTTOM
    button(class=`${BASE_CLASS}__copy js-${BASE_CLASS}__copy`) Copy code