include ../text-field/text-field.pug

mixin input-data(options)
  -
    const label = options.label ?? ''
    const modifier = options.modifier ?? ''
    const addClass = options.class ?? ''
    const isLabeled = options.isLabeled
    const classComponent = 'input-data'
    let className = classComponent
    
    if(modifier){
    className += ` ${classComponent}_${modifier}`}
    if(addClass){
    className += ` ${addClass}`}

  fieldset(class=`${className} js-${classComponent}`)
    - if(!isLabeled){
    legend(class=`${classComponent}__label`)= label
    -}
    
    div(class=`${classComponent}__value-wrap`)
      +text-field({
        label: 'value',
        type: 'text',
        name: 'value'
      })