include ../text-field/text-field.pug

mixin input-data(options = {})
  -
    const {
      label = '',
      modifier = '',
      addClass = '',
      isLabeled
    } = options;

    const CLASS_COMPONENT = 'input-data'
    let className = CLASS_COMPONENT
    
    if(modifier){
      className += ` ${CLASS_COMPONENT}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  fieldset(class=`${className} js-${CLASS_COMPONENT}`)
    - if(!isLabeled){
        legend(class=`${CLASS_COMPONENT}__label`)= label
    -}
    
    div(class=`${CLASS_COMPONENT}__value-wrapper`)
      +text-field({
        label: 'value',
        typeField: 'text',
        name: 'value'
      })