include ../text-field/text-field.pug

mixin input-data(options)
  -
    const label = options.label ?? ''
    const modify = options.modify ?? ''
    const addClass = options.class ?? ''
    const flLabel = options.flLabel
    const classComp = 'input-data'
    let className = classComp
    
    if(modify){
    className += ` ${classComp}_${modify}`}
    if(addClass){
    className += ` ${addClass}`}

  fieldset(class=`${className} js-${classComp}`)
    - if(!flLabel){
    legend(class=`${classComp}__label`)= label
    -}
    
    div(class=`${classComp}__value-wrap`)
      +text-field({
        label: 'value',
        type: 'text',
        name: 'value'
      })