include ../text-field/text-field.pug

mixin input-data(options = {})
  -
    const {
      label = '',
      modifier = '',
      addClass = '',
      isLabeled
    } = options;

    const classComponent = 'input-data'
    let className = classComponent
    
    if(modifier){
    className += ` ${classComponent}_${modifier}`}
    if(addClass){
    className += ` ${addClass}`}

  fieldset(class=`${className} js-${classComponent}`)
    - if(!isLabeled){
    legend(class=`${classComponent}__label`)= label
    -}
    
    div(class=`${classComponent}__value-wrap`)
      +text-field({
        label: 'value',
        type: 'text',
        name: 'value'
      })