include ../text-field/text-field.pug

mixin input-data(options = {})
  -
    const {
      label = '',
      addClass = '',
      isLabeled
    } = options;

    const BASE_CLASS = 'input-data'
    let className = BASE_CLASS
    
  if addClass
    - className += ` ${addClass}`
  

  fieldset(class=`${className} js-${BASE_CLASS}`)
    if !isLabeled
      legend(class=`${BASE_CLASS}__label`)= label
    
    
    div(class=`${BASE_CLASS}__value-wrapper`)
      +text-field({
        label: 'value',
        typeField: 'text',
        name: 'value'
      })