
mixin select(options)
  -
    const label = options.label ?? ''
    const flLabel = options.flLabel
    const masOptions = options.masOptions ?? []
    const name = options.name ?? ''
    const modify = options.modify ?? ''
    const addClass = options.class ?? ''
    const classComp = 'select'
    let className = classComp
    
    if(modify){
    className += ` ${classComp}_${modify}`}
    if(addClass){
    className += ` ${addClass}`}

  div(class=`${className} js-${classComp}`)
    - if(!flLabel){
    p(class=`${classComp}__label-text`)= label
    -}

    div(class=`${classComp}__displayed-wrap js-${classComp}__displayed-wrap`)
      button(class=`${classComp}__displayed js-${classComp}__displayed`)
      img(class=`${classComp}__tip js-${classComp}__tip` src=require('@com/select/img/tip.svg').default alt='угалок')
      
    ul(class=`${classComp}__options js-${classComp}__options`)
      -for(const item of masOptions){
        - let selector=`${classComp}__item js-${classComp}__item`;
        -if(item.selected){
        -selector += ' '+item.selected;
        -}
        li(class=selector tabindex='0' data-val=item.value)=item.text
      -}
    input(class=`${classComp}__input js-${classComp}__input` value='' tabindex='-2' name=name)