
mixin select(options = {})
  -
    const {
      label = '',
      isLabeled,
      list = [],
      name = '',
      modifier = '',
      addClass = '',
    } = options;

    const CLASS_COMPONENT = 'select'
    let className = CLASS_COMPONENT
    
    if(modifier){
        className += ` ${CLASS_COMPONENT}_${modifier}`
    }
    if(addClass){
        className += ` ${addClass}`
    }

  div(class=`${className} js-${CLASS_COMPONENT}`)
    - if(!isLabeled){
          p(class=`${CLASS_COMPONENT}__label-text`)= label
    -}

    div(class=`${CLASS_COMPONENT}__displayed-wrapper js-${CLASS_COMPONENT}__displayed-wrapper`)
      button(class=`${CLASS_COMPONENT}__displayed js-${CLASS_COMPONENT}__displayed`)
      img(class=`${CLASS_COMPONENT}__tip js-${CLASS_COMPONENT}__tip` src=require('./img/tip.svg') alt='угалок')
      
    ul(class=`${CLASS_COMPONENT}__options js-${CLASS_COMPONENT}__options`)
      -for(const item of list){
        - let selector=`${CLASS_COMPONENT}__item js-${CLASS_COMPONENT}__item`;
        -if(item.selected){
          -selector += ' '+item.selected;
        -}
        li(class=selector tabindex='0' data-value=item.value)=item.text
      -}
    input(class=`${CLASS_COMPONENT}__input js-${CLASS_COMPONENT}__input` type='text' value='' tabindex='-2' name=name)