
mixin select(options = {})
  -
    const {
      label = '',
      isLabeled,
      list = [],
      name = '',
      modifier = '',
      addClass = '',
    } = options;

    const classComponent = 'select'
    let className = classComponent
    
    if(modifier){
    className += ` ${classComponent}_${modifier}`}
    if(addClass){
    className += ` ${addClass}`}

  div(class=`${className} js-${classComponent}`)
    - if(!isLabeled){
    p(class=`${classComponent}__label-text`)= label
    -}

    div(class=`${classComponent}__displayed-wrap js-${classComponent}__displayed-wrap`)
      button(class=`${classComponent}__displayed js-${classComponent}__displayed`)
      img(class=`${classComponent}__tip js-${classComponent}__tip` src=require('./img/tip.svg') alt='угалок')
      
    ul(class=`${classComponent}__options js-${classComponent}__options`)
      -for(const item of list){
        - let selector=`${classComponent}__item js-${classComponent}__item`;
        -if(item.selected){
        -selector += ' '+item.selected;
        -}
        li(class=selector tabindex='0' data-value=item.value)=item.text
      -}
    input(class=`${classComponent}__input js-${classComponent}__input` value='' tabindex='-2' name=name)