
mixin select(options = {})
  -
    const {
      label = '',
      isLabeled = false,
      list = [],
      name = '',
      modifier = '',
      addClass = '',
    } = options;

    const BASE_CLASS = 'select'
    let className = BASE_CLASS
    
  if modifier
      - className += ` ${BASE_CLASS}_${modifier}`

  if addClass
      - className += ` ${addClass}`
  

  div(class=`${className} js-${BASE_CLASS}`)
    if !isLabeled
      p(class=`${BASE_CLASS}__label-text`)= label
    

    div(class=`${BASE_CLASS}__displayed-wrapper js-${BASE_CLASS}__displayed-wrapper`)
      button(class=`${BASE_CLASS}__displayed js-${BASE_CLASS}__displayed`)
      img(class=`${BASE_CLASS}__tip js-${BASE_CLASS}__tip` src=require('./img/tip.svg') alt='угалок')
      
    ul(class=`${BASE_CLASS}__options js-${BASE_CLASS}__options`)
      each item in list
        - let selector=`${BASE_CLASS}__item js-${BASE_CLASS}__item`;
        if item.selected
          -selector += ' '+item.selected;
        
        li(class=selector tabindex='0' data-value=item.value)=item.text

    input(class=`${BASE_CLASS}__input js-${BASE_CLASS}__input` type='text' tabindex='-2' name=name)