include ../toggle/toggle.pug
include ../text-field/text-field.pug

mixin hints(options = {})
  -
    const {
      label = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const classComponent = 'hints'
    let className = classComponent
    
    if(modifier){
      className += ` ${classComponent}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

    const data = require('./hints.json'); 
    const textField = data.textField

  fieldset(class=`${className} js-${classComponent}`)
    - if(!isLabeled){
        legend(class=`${classComponent}__label`)= label
    -}

    div(class=`${classComponent}__minmax-wrapper js-${classComponent}__minmax-wrapper`)
      +toggle({
        header: 'min - max',
      })

    div(class=`${classComponent}__fromto-wrapper js-${classComponent}__fromto-wrapper`)
      +toggle({
        header: 'from - to',
      })

    div(class=`${classComponent}__prefix-wrapper js-${classComponent}__prefix-wrapper`)
      +text-field(textField.prefix)
      
    div(class=`${classComponent}__postfix-wrapper js-${classComponent}__postfix-wrapper`)
      +text-field(textField.postfix)