include ../toggle-buttons/toggle-buttons.pug
include ../text-field/text-field.pug

mixin hints(options)
  -
    const label = options.label ?? ''
    const modifier = options.modifier ?? ''
    const addClass = options.class ?? ''
    const isLabeled = options.isLabeled
    const classComponent = 'hints'
    let className = classComponent
    
    if(modifier){
    className += ` ${classComponent}_${modifier}`}
    if(addClass){
    className += ` ${addClass}`}

    const path = require('path').resolve(
    'src/components/hints/','hints.json'
    )
    const data = JSON.parse(require('fs').readFileSync(path)); 

    const textField = data.textField

  fieldset(class=`${className} js-${classComponent}`)
    - if(!isLabeled){
    legend(class=`${classComponent}__label`)= label
    -}

    div(class=`${classComponent}__minmax-wrap js-${classComponent}__minmax-wrap`)
      +toggle-buttons({
        header: 'min - max',
      })

    div(class=`${classComponent}__fromto-wrap js-${classComponent}__fromto-wrap`)
      +toggle-buttons({
        header: 'from - to',
      })

    div(class=`${classComponent}__prefix-wrap js-${classComponent}__prefix-wrap`)
      +text-field(textField.prefix)
      
    div(class=`${classComponent}__postfix-wrap js-${classComponent}__postfix-wrap`)
      +text-field(textField.postfix)