include ../toggle/toggle.pug
include ../text-field/text-field.pug

mixin hints(label = '')
  -
    const BASE_CLASS = 'hints'
    const data = require('./hints.json'); 
    const textField = data.textField

  fieldset(class=`${BASE_CLASS} js-${BASE_CLASS}`)
    if label
      legend(class=`${BASE_CLASS}__label`)= label
    

    div(class=`${BASE_CLASS}__minmax-wrapper js-${BASE_CLASS}__minmax-wrapper`)
      +toggle({
        header: 'min - max',
      })

    div(class=`${BASE_CLASS}__fromto-wrapper js-${BASE_CLASS}__fromto-wrapper`)
      +toggle({
        header: 'from - to',
      })

    div(class=`${BASE_CLASS}__prefix-wrapper js-${BASE_CLASS}__prefix-wrapper`)
      +text-field(textField.prefix)
      
    div(class=`${BASE_CLASS}__postfix-wrapper js-${BASE_CLASS}__postfix-wrapper`)
      +text-field(textField.postfix)