include ../toggle-buttons/toggle-buttons.pug
include ../text-field/text-field.pug

mixin hints(options)
  -
    let label = options.label ?? ''
    let modif = options.modif ?? ''
    let addClass = options.class ?? ''
    let flLabel = options.flLabel ?? false
    let classComp = 'hints'
    let className = classComp
    if(modif){
    className += ' '+classComp+'_'+modif}
    if(addClass){
    className += ' '+addClass}
  fieldset(class=className)
    - if(!flLabel){
    legend(class=classComp+'__label')= label
    -}
    div(class=classComp+'__minmax-wrap')
      +toggle-buttons({
        header: 'min - max',
      })
    div(class=classComp+'__fromto-wrap')
      +toggle-buttons({
        header: 'from - to',
      })
    div(class=classComp+'__prefix-wrap')
      +text-field({
        label: 'Prefix',
        type: 'text',
        name: 'tipPrefix'
      })
    div(class=classComp+'__postfix-wrap')
      +text-field({
        label: 'Postfix',
        type: 'text',
        name: 'tipPostfix'
      })