include ../toggle/toggle.pug
include ../select/select.pug

mixin miscellaneous(label = '')
  -
    const BASE_CLASS = 'miscellaneous'
    const data = require('./miscellaneous.json'); 
    const selectData = data.select

  fieldset(class=`${BASE_CLASS} js-${BASE_CLASS}`)
    if label
      legend(class=`${BASE_CLASS}__label`)= label
    
    div(class=`${BASE_CLASS}__double-wrapper js-${BASE_CLASS}__double-wrapper`)
      +toggle({
        header: 'double',
      })

    div(class=`${BASE_CLASS}__disabled-wrapper js-${BASE_CLASS}__disabled-wrapper`)
      +toggle({
        header: 'disabled',
      })

    div(class=`${BASE_CLASS}__vertical-wrapper js-${BASE_CLASS}__vertical-wrapper`)
      +toggle({
        header: 'vertical',
      })

    div(class=`${BASE_CLASS}__bar-wrapper js-${BASE_CLASS}__bar-wrapper`)
      +toggle({
        header: 'bar',
      })

    div(class=`${BASE_CLASS}__unsubscribtion-wrapper js-${BASE_CLASS}__unsubscribtion-wrapper`)
      +toggle({
        header: 'unsubscribtion',
      })

    div(class=`${BASE_CLASS}__select-wrapper js-${BASE_CLASS}__select-wrapper`)
      +select({
        label: 'Skin',
        list: selectData,
        name: 'skin range slider fox'
      })

    div(class=`${BASE_CLASS}__reset-wrapper`)
      button(class=`${BASE_CLASS}__reset js-${BASE_CLASS}__reset`) Reset
      
    div(class=`${BASE_CLASS}__apply-wrapper`)
      button(class=`${BASE_CLASS}__apply`) Apply