include ../text-field/text-field.pug

mixin keyboard-control(options = {})
  -
    const {
      label = '',
      modifier = '',
      addClass = '',
      isLabeled
    } = options;

    const CLASS_COMPONENT = 'keyboard-control'
    let className = CLASS_COMPONENT
    
    if(modifier){
      className += ` ${CLASS_COMPONENT}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

    const data = require('./keyboard-control.json'); 
    const textField = data.textField

  fieldset(class=`${className} js-${CLASS_COMPONENT}`)
    - if(!isLabeled){
        legend(class=`${CLASS_COMPONENT}__label`)= label
    -}

    div(class=`${CLASS_COMPONENT}__one-wrapper js-${CLASS_COMPONENT}__one-wrapper`)
      +text-field(textField.one)
      
    div(class=`${CLASS_COMPONENT}__hold-wrapper js-${CLASS_COMPONENT}__hold-wrapper`)
      +text-field(textField.hold)