include ../text-field/text-field.pug

mixin keyboard-control(options)
  -
    const label = options.label ?? ''
    const modify = options.modify ?? ''
    const addClass = options.class ?? ''
    const flLabel = options.flLabel ?? false
    const classComp = 'keyboard-control'
    let className = classComp
    
    if(modify){
    className += ` ${classComp}_${modify}`}
    if(addClass){
    className += ` ${addClass}`}

    const path = '/components/keyboard-control/keyboard-control.json' 
    const data = htmlWebpackPlugin.options.getData(path)
    const textField = data.textField

  fieldset(class=`${className} js-${classComp}`)
    - if(!flLabel){
    legend(class=`${classComp}__label`)= label
    -}

    div(class=`${classComp}__one-wrap js-${classComp}__one-wrap`)
      +text-field(textField.one)
      
    div(class=`${classComp}__hold-wrap js-${classComp}__hold-wrap`)
      +text-field(textField.hold)