include ../text-field/text-field.pug

mixin keyboard-control(options = {})
  -
    const {
      label = '',
      addClass = '',
      isLabeled = false
    } = options;

    const BASE_CLASS = 'keyboard-control'
    let className = BASE_CLASS
    
  if addClass
    - className += ` ${addClass}`
  
  -
    const data = require('./keyboard-control.json'); 
    const textField = data.textField

  fieldset(class=`${className} js-${BASE_CLASS}`)
    if !isLabeled
      legend(class=`${BASE_CLASS}__label`)= label
    

    div(class=`${BASE_CLASS}__one-wrapper js-${BASE_CLASS}__one-wrapper`)
      +text-field(textField.one)
      
    div(class=`${BASE_CLASS}__hold-wrapper js-${BASE_CLASS}__hold-wrapper`)
      +text-field(textField.hold)