include ../text-field/text-field.pug

mixin keyboard-control(options)
  -
    const label = options.label ?? ''
    const modifier = options.modifier ?? ''
    const addClass = options.class ?? ''
    const isLabeled = options.isLabeled
    const classComponent = 'keyboard-control'
    let className = classComponent
    
    if(modifier){
    className += ` ${classComponent}_${modifier}`}
    if(addClass){
    className += ` ${addClass}`}

    const path = require('path').resolve(
    'src/components/keyboard-control/','keyboard-control.json'
    )
    const data = JSON.parse(require('fs').readFileSync(path)); 

    const textField = data.textField

  fieldset(class=`${className} js-${classComponent}`)
    - if(!isLabeled){
    legend(class=`${classComponent}__label`)= label
    -}

    div(class=`${classComponent}__one-wrap js-${classComponent}__one-wrap`)
      +text-field(textField.one)
      
    div(class=`${classComponent}__hold-wrap js-${classComponent}__hold-wrap`)
      +text-field(textField.hold)