include ../text-field/text-field.pug

mixin keyboard-control(options = {})
  -
    const {
      label = '',
      modifier = '',
      addClass = '',
      isLabeled
    } = options;

    const classComponent = 'keyboard-control'
    let className = classComponent
    
    if(modifier){
      className += ` ${classComponent}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

    const data = require('./keyboard-control.json'); 
    const textField = data.textField

  fieldset(class=`${className} js-${classComponent}`)
    - if(!isLabeled){
        legend(class=`${classComponent}__label`)= label
    -}

    div(class=`${classComponent}__one-wrapper js-${classComponent}__one-wrapper`)
      +text-field(textField.one)
      
    div(class=`${classComponent}__hold-wrapper js-${classComponent}__hold-wrapper`)
      +text-field(textField.hold)