include ../toggle-buttons/toggle-buttons.pug


mixin different(options)
  -
    let label = options.label ?? ''
    let modif = options.modif ?? ''
    let addClass = options.class ?? ''
    let flLabel = options.flLabel ?? false
    let classComp = 'different'
    let className = classComp
    if(modif){
    className += ' '+classComp+'_'+modif}
    if(addClass){
    className += ' '+addClass}
  fieldset(class=className)
    - if(!flLabel){
    legend(class=classComp+'__label')= label
    -}
    div(class=classComp+'__double-wrap')
      +toggle-buttons({
        header: 'double',
      })
    div(class=classComp+'__disabled-wrap')
      +toggle-buttons({
        header: 'disabled',
      })
    div(class=classComp+'__vertical-wrap')
      +toggle-buttons({
        header: 'vertical',
      })