include ../toggle-buttons/toggle-buttons.pug
include ../select/select.pug

mixin different(options = {})
  -
    const classComponent = 'different'

    const {
      label = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    let className = classComponent
    
    if(modifier){
    className += ` ${classComponent}_${modifier}`}
    if(addClass){
    className += ` ${addClass}`}

    const data = require('./different.json'); 
    const selectData = data.select

  fieldset(class=`${className} js-${classComponent}`)
    - if(!isLabeled){
    legend(class=`${classComponent}__label`)= label
    -}

    div(class=`${classComponent}__double-wrap js-${classComponent}__double-wrap`)
      +toggle-buttons({
        header: 'double',
      })

    div(class=`${classComponent}__disabled-wrap js-${classComponent}__disabled-wrap`)
      +toggle-buttons({
        header: 'disabled',
      })

    div(class=`${classComponent}__vertical-wrap js-${classComponent}__vertical-wrap`)
      +toggle-buttons({
        header: 'vertical',
      })

    div(class=`${classComponent}__bar-wrap js-${classComponent}__bar-wrap`)
      +toggle-buttons({
        header: 'bar',
      })

    div(class=`${classComponent}__unsubscribtion-wrap js-${classComponent}__unsubscribtion-wrap`)
      +toggle-buttons({
        header: 'unsubscribtion',
      })

    div(class=`${classComponent}__select-wrap js-${classComponent}__select-wrap`)
      +select({
        label: 'Skin',
        list: selectData,
      })

    div(class=`${classComponent}__reset-wrap`)
      button(class=`${classComponent}__reset js-${classComponent}__reset`) Reset
      
    div(class=`${classComponent}__apply-wrap`)
      button(class=`${classComponent}__apply`) Apply