include ../toggle/toggle.pug
include ../select/select.pug

mixin different(options = {})
  -
    const classComponent = 'different'

    const {
      label = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    let className = classComponent
    
    if(modifier){
      className += ` ${classComponent}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

    const data = require('./different.json'); 
    const selectData = data.select

  fieldset(class=`${className} js-${classComponent}`)
    - if(!isLabeled){
        legend(class=`${classComponent}__label`)= label
    -}

    div(class=`${classComponent}__double-wrapper js-${classComponent}__double-wrapper`)
      +toggle({
        header: 'double',
      })

    div(class=`${classComponent}__disabled-wrapper js-${classComponent}__disabled-wrapper`)
      +toggle({
        header: 'disabled',
      })

    div(class=`${classComponent}__vertical-wrapper js-${classComponent}__vertical-wrapper`)
      +toggle({
        header: 'vertical',
      })

    div(class=`${classComponent}__bar-wrapper js-${classComponent}__bar-wrapper`)
      +toggle({
        header: 'bar',
      })

    div(class=`${classComponent}__unsubscribtion-wrapper js-${classComponent}__unsubscribtion-wrapper`)
      +toggle({
        header: 'unsubscribtion',
      })

    div(class=`${classComponent}__select-wrapper js-${classComponent}__select-wrapper`)
      +select({
        label: 'Skin',
        list: selectData,
      })

    div(class=`${classComponent}__reset-wrapper`)
      button(class=`${classComponent}__reset js-${classComponent}__reset`) Reset
      
    div(class=`${classComponent}__apply-wrapper`)
      button(class=`${classComponent}__apply`) Apply