include ../text-field/text-field.pug

mixin values(options = {})
  -
    const {
      label = ''
    } = options;
    const BASE_CLASS = 'values'
    const data = require('./values.json');
    const textField = data.textField
    
  fieldset(class=`${BASE_CLASS} js-${BASE_CLASS}`)
    if label
      legend(class=`${BASE_CLASS}__label`)= label

    div(class=`${BASE_CLASS}__min-wrapper js-${BASE_CLASS}__min-wrapper`)
      +text-field(textField.min)

    div(class=`${BASE_CLASS}__max-wrapper js-${BASE_CLASS}__max-wrapper`)
      +text-field(textField.max)

    div(class=`${BASE_CLASS}__from-wrapper js-${BASE_CLASS}__from-wrapper`)
      +text-field(textField.from)

    div(class=`${BASE_CLASS}__to-wrapper js-${BASE_CLASS}__to-wrapper`)
      +text-field(textField.to)

    div(class=`${BASE_CLASS}__step-wrapper js-${BASE_CLASS}__step-wrapper`)
      +text-field(textField.step)