include ../text-field/text-field.pug

mixin values(options)
  -
    const label = options.label ?? ''
    const modifier = options.modifier ?? ''
    const addClass = options.class ?? ''
    const isLabeled = options.isLabeled
    const classComponent = 'values'
    let className = classComponent
    
    if(modifier){
    className += ` ${classComponent}_${modifier}`}
    if(addClass){
    className += ` ${addClass}`}

    const path = require('path').resolve(
    'src/components/values/','values.json'
    )
    const data = JSON.parse(require('fs').readFileSync(path)); 

    const textField = data.textField
    
  fieldset(class=`${className} js-${classComponent}`)
    - if(!isLabeled){
    legend(class=`${classComponent}__label`)= label
    -}

    div(class=`${classComponent}__min-wrap js-${classComponent}__min-wrap`)
      +text-field(textField.min)

    div(class=`${classComponent}__max-wrap js-${classComponent}__max-wrap`)
      +text-field(textField.max)

    div(class=`${classComponent}__from-wrap js-${classComponent}__from-wrap`)
      +text-field(textField.from)

    div(class=`${classComponent}__to-wrap js-${classComponent}__to-wrap`)
      +text-field(textField.to)

    div(class=`${classComponent}__step-wrap js-${classComponent}__step-wrap`)
      +text-field(textField.step)