include ../text-field/text-field.pug

mixin values(options = {})
  -
    const {
      label = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const CLASS_COMPONENT = 'values'
    let className = CLASS_COMPONENT
    
    if(modifier){
      className += ` ${CLASS_COMPONENT}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

    const data = require('./values.json');

    const textField = data.textField
    
  fieldset(class=`${className} js-${CLASS_COMPONENT}`)
    - if(!isLabeled){
        legend(class=`${CLASS_COMPONENT}__label`)= label
    -}

    div(class=`${CLASS_COMPONENT}__min-wrapper js-${CLASS_COMPONENT}__min-wrapper`)
      +text-field(textField.min)

    div(class=`${CLASS_COMPONENT}__max-wrapper js-${CLASS_COMPONENT}__max-wrapper`)
      +text-field(textField.max)

    div(class=`${CLASS_COMPONENT}__from-wrapper js-${CLASS_COMPONENT}__from-wrapper`)
      +text-field(textField.from)

    div(class=`${CLASS_COMPONENT}__to-wrapper js-${CLASS_COMPONENT}__to-wrapper`)
      +text-field(textField.to)

    div(class=`${CLASS_COMPONENT}__step-wrapper js-${CLASS_COMPONENT}__step-wrapper`)
      +text-field(textField.step)