include ../text-field/text-field.pug

mixin values(options = {})
  -
    const {
      label = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const classComponent = 'values'
    let className = classComponent
    
    if(modifier){
      className += ` ${classComponent}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

    const data = require('./values.json');

    const textField = data.textField
    
  fieldset(class=`${className} js-${classComponent}`)
    - if(!isLabeled){
        legend(class=`${classComponent}__label`)= label
    -}

    div(class=`${classComponent}__min-wrapper js-${classComponent}__min-wrapper`)
      +text-field(textField.min)

    div(class=`${classComponent}__max-wrapper js-${classComponent}__max-wrapper`)
      +text-field(textField.max)

    div(class=`${classComponent}__from-wrapper js-${classComponent}__from-wrapper`)
      +text-field(textField.from)

    div(class=`${classComponent}__to-wrapper js-${classComponent}__to-wrapper`)
      +text-field(textField.to)

    div(class=`${classComponent}__step-wrapper js-${classComponent}__step-wrapper`)
      +text-field(textField.step)