mixin text-field(options = {})
  -
    const {
      label = '',
      placeholder = '',
      typeField = '',
      name = '',
    } = options;
    const BASE_CLASS = 'text-field'

  div(class=BASE_CLASS)
    label(class=`${BASE_CLASS}__label`)
      if label
        = label
      
      input(class=`${BASE_CLASS}__input` type=typeField placeholder=placeholder value='' name=name)
      